
.banner {

    background-image: url("../images/header_bg.png");
}

.logo {
    letter-spacing: 0;
    font-family: "Helvetica, arial, sans-serif",serif;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    display: inline-block;
    color: #222;
}

.carousel-indicators {
    display: none;
}

.page-header {
    margin: 10px auto 10px;
    border-bottom: none;
}

.introduction {
    padding: 30px 10px 30px 10px;
    background: url("../images/slide_shadow.png") no-repeat center 0;
}

.list .nav-pills {
    text-align: center;
}

.page-header .nav {
    margin-top: 25px;
}

.page-header .nav li{
    border: 0px solid #90cdeb;
    border-right-width: 1px;
}

.page-header .nav li:last-child {
    border: none;
}
.page-header .nav a {
    color: #0f2c52;
}

.nav > li.active > a,
.nav > li.active > a:hover{
    background-color: #ffffff;
    color: #0f2c52;
}

.footer {
    margin-bottom: 10px;
}

.banner .contact {
    padding: 6px 0 4px;
}

.header-icon {
    font-size: 13px;
    color: #192f5a;
    padding: 2px 0px 3px 25px;
    background: url(../images/top_phone.png) no-repeat 0px 1px;
}

.breadcrumb > li + li:before {
    content: '>';
}

.breadcrumb li{
    text-transform: capitalize;
}

.all-category li.item {
    list-style: none;
}

.all-category li.active {
    background-color: #f1f1f1;
}

.all-category ul{
    padding-left: 0;
}
.accordion-toggle {
    cursor: pointer;
}

.modal-content {
    text-align: center;
}