<!doctype html>
<html ng-app="sport">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VigorMeet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script src="scripts/lib/underscore.js"></script>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/lib/angular-route.js"></script>
    <script src="scripts/lib/ng-breadcrumbs.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="scripts/module.js"></script>
    <script src="scripts/core.js"></script>
    <script src="scripts/route.js"></script>
    <script src="scripts/services/image-repository.js"></script>
    <script src="scripts/services/category.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>
    <script src="scripts/controllers/home-controller.js"></script>
    <script src="scripts/controllers/detail-controller.js"></script>
    <script src="scripts/controllers/category-controller.js"></script>
    <script src="scripts/controllers/sub-category-controller.js"></script>
    <script src="scripts/controllers/accordion-controller.js"></script>
    <script src="scripts/controllers/about-controller.js"></script>
    <script src="scripts/controllers/highlights-controller.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div ng-controller="MainController">
    <div class="home-header">
        <header class="container page-header clearfix">
            <a class="logo" href="#">
                <img src="images/logo2.png" width="150" alt="logo"/>
            </a>
        <span class="lang">
            <span ng-click='i18n("CN")'>中文</span>
            /
            <span ng-click='i18n("US")'>English</span>
        </span>
            <ul class="nav nav-pills navbar-right">
                <li class="active"><a href="#">{{_("Home")}}</a></li>
                <li><a ng-href="#/introduction">{{_("About VigorMeet")}}</a></li>
                <li><a ng-href="#">{{_("Contact us")}}</a></li>
                <li><a ng-href="#/highlights">{{_("VigorMeet Highlights")}}</a></li>
            </ul>
        </header>
    </div>

    <ng-view></ng-view>
    <footer class="container footer">
        <div class="pull-right">© 2014 VigorMeet - All Rights Reserved.</div>
        <!--<div class="pull-right"><a href="">Privacy Policy</a> | <a href="">Sitemap</a></div>-->
    </footer>
</div>
</body>
</html>
