<header class="container page-header clearfix">
    <a class="logo" href="#">
        <img src="images/abnote_logo.png" alt="logo"/>
    </a>
    <img src="http://bcs.duapp.com/xdlink/second/banner02.jpg" width="800" style="float:right" alt="banner"/>
</header>
<div class="container list">
    <div class="col-md-3 all-category" ng-controller="AccordionController">
        <accordion close-others="oneAtATime">
            <accordion-group is-open="isopen" ng-repeat="group in groups">
                <accordion-heading>
                    {{group.category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                </accordion-heading>
                <ul>
                    <li class="item" ng-repeat="item in group.sub">
                        <a ng-href="#/{{group.category}}/{{item}}">{{item}}</a>
                    </li>
                </ul>
                {{group.content}}
            </accordion-group>
        </accordion>
    </div>

    <div class="col-md-9">

        <div ng-include="'templates/partials/breadcrumb.html'"></div>

        <div ng-repeat="pic in pics">
            <div class="col-md-3">
                <a href="#/riding/sample" ng-click="open(pic.url)" class="thumbnail">
                    <img ng-src="{{pic.url}}" alt="riding">
                </a>
            </div>
        </div>

    </div>
</div>