<header class="container page-header clearfix category-header">
</header>
<div class="container list">
    <div ng-include="'templates/partials/accordion.html'"></div>

    <div class="col-md-9">
        <div ng-include="'templates/partials/breadcrumb.html'"></div>
        <div ng-repeat="pic in pics">
            <div class="col-md-3">
                <a href="#/riding/sample/1" ng-click="open(pic.url)" class="thumbnail">
                    <img ng-src="{{pic.url}}" alt="riding">
                </a>
            </div>
        </div>

    </div>
</div>