
<div ng-controller="HomeController">
    <header class="container page-header clearfix">
        <a class="logo" href="#">
            <img src="images/abnote_logo.png" alt="logo"/>
        </a>
        <ul class="nav nav-pills navbar-right">
            <li class="active"><a href="#">首页</a></li>
            <li><a ng-href="#/riding">骑行服</a></li>
            <li><a ng-href="#/wrestle">摔跤格斗服</a></li>
            <li><a ng-href="#/sport">休闲运动服</a></li>
            <li><a ng-href="#/athletics">比赛竞技服</a></li>
            <li><a ng-href="#/goods">运动用品</a></li>
        </ul>
    </header>
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img height="400" ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
    </div>
    <div class="container introduction">
        <div class="row">
            <div class="col-md-4">
                <h4>About Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
                <h4>Product Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
                <h4>Service Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
    </div>
</div>