<div ng-controller="HomeController" class="homepage">
    <header class="container page-header clearfix all-category">
        <ul class="nav nav-pills category">
            <li ng-repeat="group in categories">
                <a class="main-category" ng-class="getClass($index)" ng-href="{{group.categoryWithLink.link}}">{{_(group.categoryWithLink.category)}}</a>
                <ul class="mega-menu">
                    <li ng-repeat="item in group.subWithLink">
                        <a href="{{item.link}}">{{_(item.sub)}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="hero">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="{{slide.uri}}">
                    <img height="400" ng-src="{{slide.image}}" style="margin:auto;">
                </a>
            </slide>
        </carousel>
        <div class="slogo"><span class="markup">{{_("Global Presence, Personal Attention.")}}</span></div>
    </div>
    <div class="container highlight">
        <h3>{{_("VigorMeet Highlights")}}</h3>
        <div class="clearfix detail">
            <img src="images/highlights/ads.jpg" alt=""/>
            <div class="content">
                <h3 class="title">{{_("Heart to Heart")}}</h3>
                <p>{{_("VigorMeet team had celebrated a special Mother’s Day with the students in Jiangxi Ruijin No.3 Middle school, where a large-scale “Heart to Heart” welfare activity was held. This activity is aiming to enhance the relationship and communications between students, teachers and parents and provide an opportunity to share our true feelings to our loved ones. As the support on clothing, VigorMeet is not only responsible for showing the theme of this activity on the design but also ensuring the clothing is comfortable when sports game is played during the activity. This welfare activity will be the first step for VigorMeet on the welfare path and it begins with a wonderful ceremony.")}}
                </p>
                <a href="">{{_("Read More")}}</a>
            </div>

        </div>
    </div>
</div>