<div ng-controller="HomeController" class="homepage">
    <header class="container page-header clearfix">
        <ul class="nav nav-pills category">
            <li>
                <a ng-href="#/riding">{{_("Cycling jersey")}}</a>
                <ul class="mega-menu">
                    <li><a href="">{{_("Longsleeve suit")}}</a></li>
                    <li><a href="">{{_("Shortsleeve suit")}}</a></li>
                    <li><a href="">{{_("Windbreaker")}}</a></li>
                </ul>
            </li>
            <li><a ng-href="#/wrestle">{{_("Wrestling jersey")}}</a>
                <ul class="mega-menu">
                    <li><a href="">{{_("wrestling jersey")}}</a></li>
                    <li><a href="">{{_("Boxing pants")}}</a></li>
                </ul>
            </li>

            <li><a ng-href="#/athletics">{{_("Jersey for ball game/Racing jersey")}}</a>
                <ul class="mega-menu">
                    <li><a href="">{{_("Running jersey")}}</a></li>
                    <li><a href="">{{_("Soccer jersey")}}</a></li>
                    <li><a href="">{{_("Basketball jersey")}}</a></li>
                    <li><a href="">{{_("Rugby jersey")}}</a></li>
                    <li><a href="">{{_("Hockey jersey")}}</a></li>
                    <li><a href="">{{_("Triathlon jersey")}}</a></li>
                </ul>
            </li>

            <li><a ng-href="#/sport">{{_("Casual Sports Apparel")}}</a>
                <ul class="mega-menu">
                    <li><a href="">{{_("Golf suit")}}</a></li>
                    <li><a href="">{{_("Yoga jersey")}}</a></li>
                    <li><a href="">{{_("Darts jersey")}}</a></li>
                    <li><a href="">{{_("Roller skating jersey")}}</a></li>
                    <li><a href="">{{_("Baseball Jersey")}}</a></li>
                </ul>
            </li>

            <li><a ng-href="#/goods">{{_("Accessories")}}</a>
                <ul class="mega-menu">
                    <li><a href="">{{_("Hermit, glove")}}</a></li>
                    <li><a href="">{{_("Cycling sleeves(arm&leg)")}}</a></li>
                    <li><a href="">{{_("Flag")}}</a></li>
                    <li><a href="">{{_("headband")}}</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="hero">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="#/{{slide.uri}}">
                    <img height="400" ng-src="{{slide.image}}" style="margin:auto;">
                </a>
            </slide>
        </carousel>
        <div class="slogo"><span class="markup">{{_("Global Presence, Personal Attention.")}}</span></div>
    </div>
    <div class="container introduction">
        <div class="row">
            <div class="col-md-4">
                <h4>About Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
                <h4>Product Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
                <h4>Service Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
    </div>
</div>