<header class="container page-header clearfix category-header">
</header>
<div class="container introduction">
    <section class="section">
        <h3>公司简介</h3>
        <p>惠州维格运动服饰有限公司是一家专业生产功能性/竞技类以及休闲运动服饰的厂家，尤其以目前广泛流行世界各地的数码印花类（热升华转印）运动服饰为主。</p>
        <p>公司位于广东省惠州市，地处珠江三角洲东部；拥有便捷的交通，丰富的资源，汇集众多的人才。我司拥有经验丰富的设计师、数码印花和车缝专业技术人才，能够根据客户需求，自行设计图稿，充分满足客户对数码打印运动服在设计以及生产上的需求，在根本上为客户提供一站式服务。同时，也可根据客户要求，承接OEM订单。</p>
        <p>我司的现代化生产厂房，配备多台进口专业数码印花机、转印机；专业车缝机（平车, 四线及骨机, 冚车,五线及骨机, 双针车等等）。生产（印花）过程无毒，环保，高效。拥有十多年丰富车缝经验的专业人才，可根据不同车缝机器的线路不断变换款式，不断创新。在原材料的选择上，我们同时会根据不同产品的使用性能以及客户要求为客户提供最佳的选择方案。</p>
        <p>我们愿与世界各地朋友携手一起打造更动感活力的绿色世界。</p>
    </section>

    <section class="section">
        <h3>我们的设备</h3>
        <p>我公司引进进口先进水平无污染、无毒的数码印花、热升华转印设备，对于不同面料不同产品使用最合理高效的印花解决方案。为核心印花环节提供高质高量的保障。（我觉得这里需要再进行描述，可是想不出来了。）
            以下提供办公室样板房图片/设备图片/车房图片，设计室图片。。。（这些图片请设计为滚动式）
        </p>
    </section>
    <section class="section">
        <h3>我们的质量保障</h3>
        <p>
            这里请汤师傅帮我们填写一些关于质量问题专业的词句。（质量监控流程什么的）
        </p>
    </section>
</div>
