<header class="container page-header clearfix category-header">
</header>
<div class="container introduction">
    <section class="section">
        <h3>{{_("About Vigormeet")}}</h3>
        <div class="device">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <a href="">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                    </a>
                </slide>
            </carousel>
        </div>
        <div class="content">
            <p>{{_("Vigormeet Corporation Limited is a manufacturer that specialized in the production of professional functional racing jersey and casual sports apparel, especially the clothing by sublimation coloring method.")}}</p>
            <p>{{_("The headquarter is located in Huizhou city, which is the southeastern part of Pearl River Delta Region near business centers, such as Shenzhen, HongKong and Guangzhou. This special location provides Vigormeet the advantages on the transportation and human resource. Many experienced designers and technical engineers on digital printing and sewing have joined Vigormeet and we are aiming to build Vigormeet as the one-stop solution provider for our customers by providing the service on both “OEM” and “ODM”.")}}</p>
            <p>{{_("Our modern workshop is equipped with advanced digital printers imported from Japan, sublimation roller machine，single & double needle lockstitch machine, overlock machine, covering stitching machine and so on. The whole process is clean, environment friendly, and efficient. On the raw material, we are also experienced to provide our suggestions to our customer according the function of the suits.")}}</p>
            <p>{{_("Vigormeet is looking forward to cooperating with the friends around the world to build a more lovely green world.")}}</p>
        </div>

    </section>
</div>
