<header class="container page-header clearfix category-header">
</header>
<div class="container introduction">
    <section class="section">
        <h3>{{_("About Vigormeet")}}</h3>
        <p>{{_("Vigormeet Corporation Limited is a manufacturer that specialized in the production of professional functional racing jersey and casual sports apparel, especially the clothing by sublimation coloring method.")}}</p>
        <p>{{_("The headquarter is located in Huizhou city, which is the southeastern part of Pearl River Delta Region near business centers, such as Shenzhen, HongKong and Guangzhou. This special location provides Vigormeet the advantages on the transportation and human resource. Many experienced designers and technical engineers on digital printing and sewing have joined Vigormeet and we are aiming to build Vigormeet as the one-stop solution provider for our customers by providing the service on both “OEM” and “ODM”.")}}</p>
        <p>{{_("Our modern workshop is equipped with advanced digital printers imported from Japan, sublimation roller machine，single & double needle lockstitch machine, overlock machine, covering stitching machine and so on. The whole process is clean, environment friendly, and efficient. On the raw material, we are also experienced to provide our suggestions to our customer according the function of the suits.")}}</p>
        <p>{{_("Vigormeet is looking forward to cooperating with the friends around the world to build a more lovely green world.")}}</p>
    </section>

    <section class="section">
        <h3>我们的设备</h3>
        <p>我公司引进进口先进水平无污染、无毒的数码印花、热升华转印设备，对于不同面料不同产品使用最合理高效的印花解决方案。为核心印花环节提供高质高量的保障。（我觉得这里需要再进行描述，可是想不出来了。）
            以下提供办公室样板房图片/设备图片/车房图片，设计室图片。。。（这些图片请设计为滚动式）
        </p>
    </section>
    <section class="section">
        <h3>我们的质量保障</h3>
        <p>
            这里请汤师傅帮我们填写一些关于质量问题专业的词句。（质量监控流程什么的）
        </p>
    </section>
</div>
